---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.vue';
import Hero from '@components/Hero.vue';
import Products from '@components/Products.vue';
import HomeBlogCarousel from '@components/HomeBlogCarousel.vue';
import Advisory from '@components/Advisory.vue';
import Footer from '@components/Footer.vue';
---

<Layout title="Trenddit - Lean AI Automation">
  <Header client:load />
  <main>
    <Hero client:load />
    <Products client:load />
    <HomeBlogCarousel client:load />
    <Advisory client:load />
  </main>
  <Footer client:load />
</Layout>